<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Document</title>
</head>

<body>
    <header></header>

    <main>
        <form class="login" action="" method="post">
            <input type="email" name="correo" placeholder="Email">
            <input type="password" name="contraseña" placeholder="Contraseña">

            <button type="submit">Iniciar sesión</button>
        </form>
    </main>

    <footer></footer>
</body>

</html>