@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

*{
  box-sizing: border-box;
}

body{
    font-family: Roboto;
}



/*-----CREAR PRODUCTO-----*/

select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    margin: 10px auto;
}

.fields-container {
  display: flex;
  flex-direction: column;
}

.fields-container div{
  display: flex;
  flex-direction: column;
}

#image{
  width: 70%;
  margin: 10px auto;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

label:hover {
  box-shadow: 0 0 0 1px #fff;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}

.register {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 50px 10px;
  background-color: #4e2f7c; /*PROVISORIO*/
  border-radius: 20px;
}

.register input{
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

#description{
  width: 100%;
  max-width: 750px;
  border-radius: 6px;
  margin: 10px auto;
}

small{
  width: 100%;
  max-width:750px;
  color: #ffffff;
  display: block;
  margin: auto;
}

small.image{
  text-align: center;
  margin-top: 0px;
}
small.description{
  max-width:750px;
}

.register button {
  width: 100%;
  margin: 20px auto 10px auto;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #4e2f7c;
  border-radius: 20px;
  color: #4e2f7c;
}
.register button:hover {
  background-color: #4e2f7c;
  color: white;
  border: 1px solid white;
  transition: ease-out 0.4s;
  cursor: pointer;
}

@media (min-width: 361px){
  .register input, .register button, select, small {
   max-width: 350px;
  }
  #image{
    max-width: 230px;
  }
  /* small{
    justify-content: center;
  } */
}

@media screen and (min-width: 620px){
  main {
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .fields-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 960px){
main {
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-content: center;
}
}

/*-----ESTILOS NAV-----*/
.input-container input{
  height: 35px;
  border-radius: 5px;
  border: none;
}
.input-container{
  position: relative;
}
.input-container i{
  position: absolute;
  right: 0;
  padding: 10px;
  color: grey;
}

.input-container  input[type="text"]::placeholder {  
  padding-left: 15px; 
}    

.toggle-menu{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  width: 40px;
  z-index: 1;
}
.logo{
  color: gray;
  width: 40px;
  display: none;
}
.main-menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #713fbb;
  transition: transform 0.3s;
  transform: translateY(-100%);
}

.main-menu--show{
  transform: translateY(0);
}
.main-menu__item {
  padding: 1em;
}

.main-menu__link {
color: white;
text-transform: uppercase;
text-decoration: none;
}

@media screen and (min-width: 620px){

.toggle-menu {
  display: none;
}
.main-menu {
  flex-direction: row;
  transform: translateY(0);
}
}


@media screen and (min-width: 960px){
.logo{
  display: block;
}
}
/*-----FIN NAV-----*/

/*-----ESTILOS FOOTER-----*/

.footer-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  }
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.input-newsletter{
  border-radius: 4px;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}
.btn-newsletter{
  background-color: #4e2f7c;
  color: white;
  border: #713fbb;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  width: 200px;
  margin-top: 10px;
}
.btn-newsletter:hover{
  background-color: #713fbb;
}
.icons-footer-container{
  text-align: center;
  margin-top: 20px;
}
.icons-footer {
  font-size: 25px;
  margin-right: 10px;
  text-decoration: none;
}
.facebook{
  color: #3b5998;
}
.facebook:hover{
  color: #2457c5;
}
.twitter{
  color: #1da1f2;
}
.twitter:hover{
  color: #0d8ddd;
}
.linkedin{
  color: #0077b5;
}
.linkedin:hover{
  color: #0062a3;
}
.instagram{
  color: #e1306c;
}
.instagram:hover{
  color: #c12a5c;
}

@media screen and (min-width: 620px){

.input-newsletter{
  width: 300px;
}
.btn-newsletter{
  width: 300px;
}   
}

@media screen and (min-width: 960px){
.form-container{
  display: flex;
  flex-direction: row;
}
.footer-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 0px 100px;
}
.btn-newsletter{
  margin-left: 20px;
}
}

.copyright{
  text-align: center;
}

/*-----FIN FOOTER-----*/