:root {
    --amarillo: #EAC926;;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --cuerpo-texto: 0.75em;
    --titulares: 1.5em;
    --precios: 1.125em;
    --descuentos: 1em;
    --descripciones: 1em;
  }

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

*{
  box-sizing: border-box;
}

/*-----FORMULARIOS-----*/

.register, .login {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 50px 10px;
  border-radius: 2px;
  background-color: #1b2020; /*PROVISORIO*/
}

.login {
  padding: 100px 10px;
}

.register input, .login input {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 2px;
}

.register button, .login button {
  width: 100%;
  margin: 20px auto 10px auto;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

@media (min-width: 361px){
  .register input, .login input, .register button, .login button {
    width: 70%;
    max-width: 400px;
}
}

@media (min-width: 769px){

}