<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/create-product.css">
    <script src="https://kit.fontawesome.com/17362327c7.js" crossorigin="anonymous"></script>
    <title>Ebla - Agregar Producto</title>
</head>

<body>
    <%- include('partials/nav.ejs') %>

    <main>
        <form class="register" action="create" method="post" enctype="multipart/form-data">
            <div class="fields-container">
                <div>
                    <input type="text" name="name" placeholder="Nombre del producto" id="name">
                        <small class="name"></small>
                <input type="number" name="price" placeholder="Precio del producto" id="price">
                <small class="price"></small>
                <input type="number" name="discount" placeholder="Descuento" id="discount">
                </div>
              <div>
                <select name="categoryId" id="categoryId">
                    <% categories.forEach(function(category){ %>
                        <option value="<%= category.id %>"><%= category.categoryName %></option>
                        <% }) %>
                </select>
                <label for="image"  class="custom-file-upload" id="image-label">
                    <input type="file" name="image" id="image">
                    <i class="fa-solid fa-file-arrow-up"></i> Subir imagen
                </label>
                <small class="image"></small>
              </div>
            </div>
            <textarea name="description" id="description" placeholder="Ingresa una descripción" rows="10"></textarea>
            <small class="description"></small>

            <button type="submit">Agregar</button>
        </form>
    </main>

    <%- include('partials/footer.ejs') %>
    <script src="/js/edit-create-products.js"></script>
</body>

</html>