<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login-register.css">
    <script src="https://kit.fontawesome.com/17362327c7.js" crossorigin="anonymous"></script>
    <title>Ebla - Login</title>
</head>

<body>
    <%- include('partials/nav.ejs') %>

    <main>
        <form class="login" action="/login" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Contraseña">

            <button type="submit">Iniciar sesión</button>
        </form>
    </main>

    <%- include('partials/footer.ejs') %>
    <script src="js/scripts.js"></script>
      
</body>

</html>