<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/product-details.css">
    <script src="https://kit.fontawesome.com/17362327c7.js" crossorigin="anonymous"></script>
    <title>Detalle del producto</title>
</head>

<body>
    <%- include('partials/nav.ejs') %>
        <main style="position: relative;">
            <section>
                <div class="product-container">
                    <div class="product-header">
                        <h3>MONITOR 27 HP P27V HDMI IPS (I)</h3>
                        <img src="/images/monitor-hp.png" class="image-product">
                    </div>
                    <div>
                        <h2>$ 31.170</h2>
                        <div class="icons-container">
                            <span class="icons-style">
                                <span class="stock-icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </span>
                                <span class="text-icon">En stock</span>
                            </span>

                            <span class="icons-style">
                                <span class="guarantee-icon">
                                    <i class="fa-solid fa-shield"></i>
                                </span>
                                <span class="text-icon">Producto con garantía</span>
                            </span>

                            <span class="icons-style">
                                <span class="icons-color">
                                    <i class="fa-solid fa-truck"></i>
                                </span>
                                <span class="text-icon">Envío a todo el país</span>
                            </span>

                            <span class="icons-style">
                                <span class="icons-color">
                                    <i class="fa-solid fa-shop"></i>
                                </span>
                                <span class="text-icon">Retiro en local</span>
                            </span>
                        </div>

                        <div class="button-container">
                            <button class="add-cart">Agregar al carrito <i class="fa-solid fa-cart-plus"></i></button>
                            <button class="buy-now">Comprar ahora <i class="fa-solid fa-lock"></i></button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="description-container">
                <div>
                    <h3>Descripcion</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam optio accusantium dolorem eligendi
                        eum
                        sit
                        laborum explicabo, consequuntur id soluta assumenda repellat architecto magni cum impedit vel
                        consectetur
                        delectus rem repudiandae fugit? Nulla ducimus reprehenderit quaerat. Voluptate tenetur deleniti
                        quia
                        mollitia vel illum veritatis sequi numquam, velit cupiditate repellendus quidem accusamus id hic
                        maiores?
                        Reiciendis labore ab laboriosam obcaecati repudiandae voluptatibus illo consequuntur suscipit
                        tempora
                        error
                        quasi ipsa recusandae dolores iste officia reprehenderit sapiente, vitae optio ex? Consequatur
                        eos
                        non
                        dolore quisquam, enim in maxime consequuntur quo, hic fugiat aut, atque provident. Aliquid
                        deserunt
                        quaerat
                        voluptas commodi odit. Nesciunt recusandae id quos culpa ab ducimus deleniti voluptatum quod
                        non,
                        ipsa
                        explicabo! Explicabo, facere ipsum! Sunt, omnis eligendi quos veritatis rerum, voluptas ad, unde
                        iusto
                        nam
                        doloribus minima! Minima aliquam quo omnis mollitia. Quam, quia? Dicta atque itaque beatae ad
                        accusamus
                        necessitatibus ab officiis excepturi odit, iusto suscipit nihil maxime nulla?
                    </p>
                </div>
            </section>
        </main>

        <%- include('partials/footer.ejs') %>
            <script src="js/scripts.js"></script>
</body>

</html>