<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/shopping-cart.css">
    <script src="https://kit.fontawesome.com/17362327c7.js" crossorigin="anonymous"></script>
    <title>Ebla - Carrito</title>
</head>

<body>
    <%- include('partials/nav.ejs') %>

        <main>
            <h2 style="text-align: center; font-weight: bold; font-size: 40px;">Tu compra</h2>
            <div class="container">
                <div>
                    <div class="product-cart">
                        <img src="/images/monitor-hp.png" alt="" class="image-cart">
                        <p>Monitor HP 27"</p>
                        <p>$ 31.170</p>
                        <span class="delete-icon">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </div>
                    <hr>
                    <div class="product-cart">
                        <img src="/images/monitor-hp.png" alt="" class="image-cart">
                        <p>Monitor HP 27"</p>
                        <p>$ 31.170</p>
                        <span class="delete-icon">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </div>
                    <hr>
                    <div class="product-cart">
                        <img src="/images/monitor-hp.png" alt="" class="image-cart">
                        <p>Monitor HP 27"</p>
                        <p>$ 31.170</p>
                        <span class="delete-icon">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </div>
                    <hr>
                    <div class="product-cart">
                        <img src="/images/monitor-hp.png" alt="" class="image-cart">
                        <p>Monitor HP 27"</p>
                        <p>$ 31.170</p>
                        <span class="delete-icon">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </div>
                    <hr>
                </div>

                <div class="checkout-container">
                    <p style="font-weight: bold;">
                        Total a pagar: $ 124.680
                    </p>
                    <button class="btn-comprar">
                        COMPRAR
                    </button>
                </div>
            </div>
        </main>

        <%- include('partials/footer.ejs') %>
            <script src="js/scripts.js"></script>
</body>

</html>