<footer>
    <div class="footer-container">
        <form action="#" class="form-container">
            <input type="text" placeholder="Ingresa tu Email" class="input-newsletter">
            <input type="submit" value="Suscribirse al newsletter" class="btn-newsletter" />
        </form>
        <div class="icons-footer-container">

            <a href="https://www.facebook.com/" target="blank" class="icons-footer facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>


            <a href="https://twitter.com/" target="blank" class="icons-footer twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>

            <a href="https://www.linkedin.com/" target="blank" class="icons-footer linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a href="https://www.instagram.com/" target="blank" class="icons-footer instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
    <p class="copyright">Copyright &copy;
        <script>
            var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
        </script> Ebla S.A
    </p>
</footer>