<nav class="main-nav">
    <div id="toggle-menu" class="toggle-menu">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
            </path>
        </svg>
    </div>
    <ul id="main-menu" class="main-menu">
        <li class="main-menu__item logo">
           <a href="/" class="main-menu__link">
               <p>Ebla</p>
           </a>
        </li>
        <li class="main-menu__item">
            <div class="input-container">
                <form action="#" method="POST">
                    <input type="text" placeholder="Buscar productos" name="search" class="search-input">
                    <i class="fas fa-search"></i>
                </form>
            </div>
        </li>

        <li class="main-menu__item">
            <a href="/login" class="main-menu__link">Ingresá</a>
        </li>
        <li class="main-menu__item">
            <a href="/register" class="main-menu__link">Creá tu cuenta</a>
        </li>
        <li class="main-menu__item">
            <a href="/shopping-cart" class="main-menu__link">
                <span style="font-size: 30px;">
                    <i class="fa-solid fa-cart-shopping"></i>
                </span>
            </a>
        </li>
    </ul>
</nav>